<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Корзина</title>
    <style>
        table {
             border-collapse: collapse;
        }
        th, td {
            border: 1px solid;
        }
    </style>
</head>

<body>

<div style="overflow: hidden;">
    <a href="/product" style="float: right; margin: 20px">
        Продукты
    </a>
</div>
<div style="overflow: hidden;">
    <a href="/cart" style="float: right; margin: 20px">
        Корзина
    </a>
</div>
<div style="overflow: hidden;">
    <a href="/order" style="float: right; margin: 20px">
        Заказы
    </a>
</div>


<h1>Заказы</h1>

<table id='itemsTable'>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Стоимость</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="order : ${orders}">
        <td><a th:href="|/order/${order.id}|" th:text="${order.id}"></a></td>
        <td th:text="${order.total}"></td>
    </tr>
    </tbody>
</table>

<p></p>
<label for="total">Стоимость</label>
<input type="text" id="total" name="total" readonly th:value="${total}">

</body>
</html>