<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Заказы</title>
    <style>
        table {
             border-collapse: collapse;
        }
        th, td {
            border: 1px solid;
        }
    </style>
</head>

<body>
<div style="overflow: hidden;">
    <a href="/product" style="float: right; margin: 20px">
        Продукты
    </a>
</div>
<div style="overflow: hidden;">
    <a href="/cart" style="float: right; margin: 20px">
        Корзина
    </a>
</div>
<div style="overflow: hidden;">
    <a href="/order" style="float: right; margin: 20px">
        Заказы
    </a>
</div>

<h1>Заказы</h1>

<!--<form action="" method="get">-->
<!--    <p>-->
<!--        <label for="size">Количество продуктов на странице:</label>-->
<!--        <select id="size" name="size">-->
<!--            <option th:selected="(${size}==10)">10</option>-->
<!--            <option th:selected="(${size}==20)">20</option>-->
<!--            <option th:selected="(${size}==50)">50</option>-->
<!--            <option th:selected="(${size}==100)">100</option>-->
<!--        </select>-->
<!--    </p>-->
<!--    <p>-->
<!--        <label for="page">Страница:</label>-->
<!--        <input id="page" type="text" name="page" pattern="\d+" min=1 th:value="${page}" size=10>-->
<!--    </p>-->

<!--    <p>-->
<!--        <button>Показать продукты</button>-->
<!--    </p>-->
<!--</form>-->

<!--<table id='productsTable'>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Картинка</th>-->
<!--        <th>Название</th>-->
<!--        <th>Цена</th>-->
<!--        <th>Действия</th>-->
<!--        <th>Количество в корзине</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr th:each="product : ${products}">-->
<!--        <td><img th:src="|/image/${product.id}|" alt="" width="100" height="100"></td>-->
<!--        <td><a th:href="|/product/${product.id}|" th:text="${product.title}"></a></td>-->
<!--        <td th:text="${product.price}"></td>-->
<!--        <td>-->
<!--            <form th:id="|action-form-${product.id}|">-->
<!--                <input type="hidden" name="product_id" th:value="${product.id}">-->
<!--                <button type="button" onclick="addToCart(this.form)">Добавить в корзину</button>-->
<!--                <br>-->
<!--                <button type="button" onclick="removeFromCart(this.form)">Удалить из корзины</button>-->
<!--            </form>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:id="|quantity-form-${product.id}|">-->
<!--                <input type="hidden" name="product_id" th:value="${product.id}">-->
<!--                <label>-->
<!--                    <input type="text" name="quantity" th:value="${product.quantity}" size=10 readonly>-->
<!--                </label>-->
<!--                <br>-->
<!--                <button onclick="changeQuantity(this.form, 1)" type="button">Больше</button>-->
<!--                <br>-->
<!--                <button onclick="changeQuantity(this.form, -1)" type="button">Меньше</button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<p>-->
<!--    <button id="toggleNewProductFormButton" onclick="toggleNewProductForm()">Добавить</button>-->
<!--</p>-->

<!--<div class="new-product-form" style="display: none;" id="newProductFormClass">-->
<!--    <h2>Новый продукт</h2>-->
<!--    <form id="newProductForm" enctype="multipart/form-data" action="" method="post" accept-charset="UTF-8">-->
<!--        <label for="title">Название</label>-->
<!--        <input type="text" id="title" name="title" required>-->

<!--        <p></p>-->
<!--        <label for="price">Цена</label>-->
<!--        <input type="text" id="price" name="price" pattern="\d+" min=1 required>-->

<!--        <p></p>-->
<!--        <label for="description">Описание</label>-->
<!--        <textarea rows="5" name="description" id="description"></textarea>-->

<!--        <p></p>-->
<!--        <input id="fileInput" type="file" name="file" accept="image/*">-->
<!--        <img id="filePreview" alt="" src="" width="100" height="100">-->

<!--        <label for="quantity"></label><input id="quantity" type="text" name="quantity" value="0" hidden>-->

<!--        <p></p>-->
<!--        <button type="submit">Сохранить</button>-->
<!--    </form>-->
<!--</div>-->

<!--<script defer type="text/javascript" th:inline="javascript">-->
<!--    const fileInput = document.getElementById('fileInput');-->
<!--    const filePreview = document.getElementById('filePreview');-->

<!--    fileInput.addEventListener('change', function(event) {-->
<!--        if (event.target.files && event.target.files[0]) {-->
<!--            const file = new FileReader();-->
<!--            file.onload = function(e) {-->
<!--                filePreview.src = e.target.result;-->
<!--            };-->
<!--            file.readAsDataURL(event.target.files[0]);-->
<!--        }-->
<!--    });-->

<!--    const newPostForm = document.getElementById('newProductFormClass');-->
<!--    const newPostFormClass = document.getElementById('newProductFormClass');-->

<!--    function toggleNewProductForm() {-->
<!--        if (newProductFormClass.style.display === 'none') {-->
<!--           newProductFormClass.style.display = 'block';-->
<!--           document.getElementById('toggleNewProductFormButton').innerText = 'Скрыть';-->
<!--        }-->
<!--        else {-->
<!--           newProductFormClass.style.display = 'none';-->
<!--           document.getElementById('toggleNewProductFormButton').innerText = 'Добавить';-->
<!--        }-->
<!--    }-->

<!--    function addToCart(actionForm) {-->
<!--       let productId = actionForm.elements["product_id"].value;-->
<!--       quantityFormId = "quantity-form-" + productId;-->
<!--       quantityForm = document.getElementById(quantityFormId);-->
<!--       quantity = parseInt(quantityForm.elements["quantity"].value);-->

<!--       if(quantity == 0) {-->
<!--         let productId = actionForm.elements["product_id"].value;-->
<!--         fetch("/product/item/" + productId + "/add", {-->
<!--         method: 'POST',-->
<!--         headers: {'Content-Type': 'application/x-www-form-urlencoded'},-->
<!--         body: ''});-->
<!--         window.location.href = window.location.href;-->
<!--       }-->
<!--    }-->

<!--    function removeFromCart(actionForm) {-->
<!--       let productId = actionForm.elements["product_id"].value;-->
<!--       quantityFormId = "quantity-form-" + productId;-->
<!--       quantityForm = document.getElementById(quantityFormId);-->
<!--       quantity = parseInt(quantityForm.elements["quantity"].value);-->

<!--       if (quantity > 0) {-->
<!--         fetch("/product/item/" + productId + "/remove", {-->
<!--         method: 'POST',-->
<!--         headers: {'Content-Type': 'application/x-www-form-urlencoded'},-->
<!--         body: ''});-->
<!--         window.location.href = window.location.href;-->
<!--       }-->
<!--    }-->

<!--    function changeQuantity(quantityForm, delta) {-->
<!--       let value = parseInt(quantityForm.elements["quantity"].value) + delta-->
<!--       if (delta == -1 && value <= 0) {-->
<!--          actionFormId = "action-form-" + quantityForm.elements["product_id"].value;-->
<!--          actionForm = document.getElementById(actionFormId);-->
<!--          removeFromCart(actionForm);-->
<!--          return;-->
<!--       }-->
<!--       else if (delta == 1 && value == 1) {-->
<!--          actionFormId = "action-form-" + quantityForm.elements["product_id"].value;-->
<!--          actionForm = document.getElementById(actionFormId);-->
<!--          addToCart(actionForm);-->
<!--          return;-->
<!--       }-->
<!--       else {-->
<!--          quantityForm.elements["quantity"].value = value;-->
<!--          let productId = quantityForm.elements["product_id"].value;-->
<!--          fetch("/product/item/" + productId + "/quantity/" + value, {-->
<!--          method: 'POST',-->
<!--          headers: {'Content-Type': 'application/x-www-form-urlencoded'},-->
<!--          body: ''});-->
<!--       }-->
<!--    }-->


<!--</script>-->

</body>
</html>