<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Продукт</title>
    <style>
        table {
             border-collapse: collapse;
        }
        th, td {
            border: 1px solid;
        }
    </style>
</head>

<body>
<h1>Продукт</h1>

<form id="productForm" enctype="multipart/form-data" action="" method="post" accept-charset="UTF-8">
    <input type="hidden" name="product_id" th:value="${id}">

    <label for="title">Название</label>
    <input type="text" id="title" name="title" th:value="${title}" required>

    <p></p>
    <label for="price">Цена</label>
    <input type="text" id="price" name="price" pattern="\d+" min=1 required th:value="${price}">

    <p></p>
    <label for="description">Описание</label>
    <textarea rows="5" name="description" id="description" th:text="${description}"></textarea>

    <p></p>
    <input id="fileInput" type="file" name="file" accept="image/*">
    <img id="filePreview" alt="" th:src="|/image/${id}|" width="100" height="100">

    <p></p>
    <button type="button" onclick="addToCart(this.form)">Добавить в корзину</button>
    <br>
    <button type="button" onclick="removeFromCart(this.form)">Удалить из корзины</button>

    <p></p>
    <label for="quantity">Количество в корзине</label>
         <input id="quantity" type="text" name="quantity" th:value="${quantity}" size=10 readonly>
    <br>
     <button onclick="changeQuantity(this.form, 1)" type="button">Больше</button>
     <br>
     <button onclick="changeQuantity(this.form, -1)" type="button">Меньше</button>

    <p></p>
    <button type="submit">Сохранить</button>
</form>

<form th:action="${id}" method="post">
    <p></p>
    <input type="hidden" name="_method" value="delete">
    <button>Удалить</button>
</form>


<script defer type="text/javascript" th:inline="javascript">
    const fileInput = document.getElementById('fileInput');
    const filePreview = document.getElementById('filePreview');

    fileInput.addEventListener('change', function(event) {
        if (event.target.files && event.target.files[0]) {
            const file = new FileReader();
            file.onload = function(e) {
                filePreview.src = e.target.result;
            };
            file.readAsDataURL(event.target.files[0]);
        }
    });

    function addToCart(form) {
       quantity = parseInt(form.elements["quantity"].value);
       if(quantity == 0) {
         form.elements["quantity"].value = 1;
       }
    }

    function removeFromCart(form) {
       form.elements["quantity"].value = 0;
    }

    function changeQuantity(form, delta) {
       let currentValue = parseInt(form.elements["quantity"].value);
       if (currentValue > 1 && delta == -1 || delta == 1) {
          form.elements["quantity"].value = currentValue + delta;
       }
    }
</script>

</body>
</html>